/*							Style du site Garage	 							*/
/*noinspection CssUnknownTarget*/
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

:root {
	--text-hover-color: rgb(220, 100, 0);
	--text-default-color: lightgrey;
}

body {
	background-attachment: fixed;
	background-image: url("../images/page/accueil.jpg");
	background-position: center center;
	background-size: 100% auto;
	color: var(--text-default-color);
	display: grid;
	font-family: Optima, sans-serif;
	font-size: 16px;
	margin: 0 5% 2% 5%;
	overflow-x: auto;
	text-align: center;
}

h1 {
	text-align: center;
}

h1:hover {
	color: var(--text-hover-color);
}

h2 {
	color: var(--text-default-color);
}

h2:hover {
	color: var(--text-hover-color);
}

h3 {

}

div {

}

p {
	border-color: var(--text-default-color);
	border-radius: 5px;
	border-spacing: 1px;
}

header {

}

footer {

}

a {
	color: rgb(11, 11, 111);
	text-decoration: none;
}

button > a {
	color: black;
}

button:hover a {
	text-decoration: none;
}

button:active a {
	text-decoration: none;
}

button {
	background: darkorange;
	border: 2px solid orangered;
	border-radius: 5px;
	box-shadow: 1px 3px 0 0 rgba(130, 130, 130, 0.3);
	color: black;
	float: right;
	font-size: 18px;
	max-height: fit-content;
	margin: 5px;
	padding: 5px 10px;
	text-decoration: none;
	max-width: fit-content;
	z-index: 1;
}

button:hover {
	background: orange;
	box-shadow: 1px 5px 0 0 rgba(222, 222, 222, 0.3);
	color: white;
}

button:active {
	background: orange;
	color: var(--text-hover-color);
	font-weight: bolder;
}

textarea {
	box-shadow: 1px 2px 0 0 rgba(200, 200, 200, 0.5);
	border-radius: 5px;
	padding-left: 15px;
	max-height: 250px;
	max-width: 90%;
	min-height: 80px;
	min-width: 200px;
	overflow-x: auto;
	text-align: left top;
}

input, select {					/* select : liste déroulante */
	min-height: 30px;
	min-width: 80px;
	transition: 180ms box-shadow ease-in-out;
}

input:focus {
	border-color: hsl(220, 100, 0);												/* ! Diff avec rgb() ? */
	box-shadow: 0 0 0 3px hsla(160, 70, 0, 0.8);
	outline: 3px solid transparent;
}

<<<<<<< HEAD
input[type='text'], input[type='varchar'], input[type='int'], input[type='tel'],
input[type='mail'], input[type="date"], select, input[type='password'] {
=======
input[type='text'], input[type='varchar'], input[type='int'], input[type="date"],
select, input[type='password'] {
>>>>>>> de35599262b94eb2251ba41078ff191e9fea0818
	box-shadow: 1px 2px 0 0 rgba(200, 200, 200, 0.5);
	border-radius: 5px;
	padding-left: 15px;
}

input[type='search'] {
	border-radius: 10px;
	padding-left: 15px;
}

input[type='submit'] {
	background-color: dimgray;	/*rgb(252, 138, 30);*/
	border-radius: 5px;
	border: none;
	color: black;
	cursor: pointer;
	position: center;
	text-align: center center;
}

input[type='submit']:hover {
	background-color: lightgrey;	/*rgb(255, 160, 35);*/
}

input[type='submit']:active {
	background-color: lightgrey;	/*rgb(252, 138, 30);*/
	font-weight: bold;
}

table, th, td {
	background-color: rgba(200, 100, 20, 0.1);
	border: 1px solid orange;
}

table {
	border-collapse: collapse;
}

th {
	text-transform: capitalize;
	width: auto;
}

/*   							Class   										*/
.accueil {
	background-image: url("../images/page/accueil.jpg");
	color: var(--text-default-color);
}

.produits {
	background-image: url("../images/page/products.jpg");
	color: black;
}

.design {
	background-image: url("../images/page/design.jpg");
	color: var(--text-default-color);
}

.contact {
	background-image: url("../images/page/design.jpg");
	color: var(--text-default-color);
}

.about {
	background-image: url("../images/page/about.jpg");
	color: var(--text-default-color);
}

.about span {
	background: rgba(240, 240, 240, 0.2);
	border: 1px solid lightgrey;
	border-radius: 10px;
	height: 150px;
	margin: 5px;
	padding: 10px 30px;
	text-align: left;
	width: 75%;
}

.title {
	color: orangered;
	font-family: "DejaVu Sans Condensed", serif;
	font-size: 20px;
	font-weight: bold;
}

.menu {
	background-color: rgba(10, 10, 10, 0.9);
	position: fixed;
	width: 90%;
	z-index: 11;																/* Grand : devant, -1 : au fond */
}

.article {
	float: left;
}

.menu_sommaire li {
	background: darkorange;
	border: 2px solid orangered;
	border-radius: 5px;
	box-shadow: 1px 3px 0 0 rgba(130, 130, 130, 0.3);
	color: black;
	display: flex;
	flex-direction: row-reverse;
	float: right;
	font-size: 18px;
	height: auto;
	margin: 10px 5px 10px 10px;
	padding: 5px 10px;
	text-align: center;
	width: auto;
	z-index: 1;
}

.menu_sommaire li:hover {
	background: orange;
	box-shadow: 1px 5px 0 0 rgba(222, 222, 222, 0.3);
	color: white;
}

.menu_sommaire li:active {
	background: orange;
	border: 3px solid;
	color: orangered;
	font-weight: bolder;
}

.all_products {
	align-content: center;
	display: grid;
	grid-template-columns: repeat(3, minmax(min-content, 350px));
	text-align: center;
}

.all_products > p {
	background: rgba(255, 255, 255, 0.3);
	font-size: 20px;
	padding: 10px;
}

.product {
	background-color: rgba(240, 240, 240, 0.6);
	border: 1px solid wheat;
	box-sizing: border-box;
	border-radius: 15px;
	color: darkgrey;
	height: auto;
	margin: 1%;
	padding: 15px;
	position: relative;
}

.product > * {																	/* all elmts inside */
	align-items: center;
	background: none;
	color: black;
	line-height: 30px;
	text-align: center;
}

.product > *:hover {
	color: var(--text-hover-color);
}

.product > h3 {																	/* titre */
	font-size: 24px;
	font-weight: bold;
}

.product > h3:hover {
	filter: brightness(1.2);
}

.product > img {																/* image */
	border-radius: 10px;
	transition: transform 1s;
	transform: scale(1);
}

.product > img:hover {
	position: relative;
	transition: transform 0.5s;
	transform: scale(1.2);														/* le fait grandir */
	z-index: 10;																/* le met devant */
}

.product > p {																	/* description */
	background: rgba(255, 255, 255, 0.3);
	font-size: 16px;
	margin-left: 10%;
	max-height: 80px;
	max-width: 80%;
	overflow-y: auto;
}

.product > form {
	float: right;
	margin-left: 15px;
}

<<<<<<< HEAD
.all_comments > p {
	background: rgba(255, 255, 255, 0.3);
	font-size: 20px;
	padding: 10px;
}

.comment > p {
	background: rgba(255, 255, 255, 0.3);
	font-size: 16px;
	margin-left: 10%;
	max-height: 80px;
	max-width: 80%;
	overflow-y: auto;
}

=======
>>>>>>> de35599262b94eb2251ba41078ff191e9fea0818
.search_bar {
	box-sizing: border-box;
	color: black;
	float: left;
	font-size: 24px;
	margin: 1% 3%;
	position: relative;
}

.formulaire {
	background-color: rgba(220, 220, 220, 0.6);
	border: 2px solid snow;
	border-radius: 22px;
	height: min-content;
	margin: auto;
	padding: 3%;
	width: min-content;
}

.formulaire > * {
	color: auto;
}

.logo {
	border-radius: 30%;
	box-sizing: border-box;
	display: inline-block;
	flex-direction: row;
	height: 70px;
	margin-right: 25px;
	transition: transform 1s;
	transform: scale(1);
	vertical-align: middle;
	width: 70px;
}

.logo:hover {
	filter: brightness(1.2);
	position: relative;
	transition: transform 0.5s;
	transform: scale(1.2);														/* Le fait grandir */
	z-index: 10;
}

.credits {
	color: black;
	display: flex;
	font-weight: bold;
	float: bottom;
	list-style-type: none;
	position: relative;
	margin-top: 2%;
}

.credits > * > * > li {
	list-style-type: none;
}

.contacts {
	background-color: rgba(255, 100, 20, 0.8);
	border-radius: 15px;
	float: left;
	padding: 2%;
	text-align: left;
	width: 46%;
}

.medias {
	background-color: rgba(255, 100, 20, 0.8);
	border-radius: 15px;
	float: right;
	padding: 2%;
	text-align: left;
	width: 46%;
}

.copyright {
	align-items: center;
	background-color: darkgrey;
	border-radius: 15px;
	color: black;
	display: flex;
	float: bottom;
	font-weight: bold;
	margin: 0;
	padding: 1% 2%;
	position: relative;
	text-align: center;
}

/*   								Id   										*/
#invisible {
	display: none;
}
